In [12]:
import pandas as pd
import glob
import os

# Unzip the downloaded zip files

In [29]:
import os
import glob
import zipfile
import shutil

In [ ]:

# --- 1. Define source and destination folders ---
source_folder = r"C:\Users\stgadmin\Project\Data downloads\T100"       # Folder containing your .wip files
destination_folder = r"C:\Users\stgadmin\Project\Data downloads\T100_Extractedcsvs"  # Folder where CSVs will go --- CORRECT

print(f"Source folder: {source_folder}")
print(f"Destination folder: {destination_folder}")


# Ensure the destination folder exists
os.makedirs(destination_folder, exist_ok=True)

# --- 2. Find all .zip files in the source folder ---
zip_files = glob.glob(os.path.join(source_folder, "*.zip"))

if not zip_files:
    print("No .wip files found in the source folder.")
else:
    print(f"Found {len(zip_files)} .wip file(s) to extract.")

    for zip_path in zip_files:
        zip_name = os.path.basename(zip_path)
        zip_base_name = os.path.splitext(zip_name)[0]
        print(f"\nProcessing: {zip_name}")

        # Temporary folder to extract the .wip file
        temp_extract_folder = os.path.join(source_folder, "__temp_extract__")
        os.makedirs(temp_extract_folder, exist_ok=True)

        try:
            with zipfile.ZipFile(zip_path, 'r') as zip_ref:
                zip_ref.extractall(temp_extract_folder)

            # Move CSV files to destination folder
            csv_files = glob.glob(os.path.join(temp_extract_folder, "*.csv"))
            for csv_file in csv_files:
                csv_ext = os.path.splitext(csv_file)[1]  # keep extension
                new_csv_name = f"{zip_base_name}{csv_ext}"  # use only zip name
                shutil.move(csv_file, os.path.join(destination_folder, new_csv_name))

            print(f"‚úÖ {len(csv_files)} CSV file(s) moved to destination folder.")

        except zipfile.BadZipFile:
            print(f"‚ùå Error: {zip_name} is not a valid zip file.")
        except Exception as e:
            print(f"‚ùå Unexpected error while processing {zip_name}: {e}")
        finally:
            # Clean up temporary folder
            if os.path.exists(temp_extract_folder):
                shutil.rmtree(temp_extract_folder)

print("\nAll files processed.")

Source folder: C:\Users\stgadmin\Project\Data downloads\T100
Destination folder: C:\Users\stgadmin\Project\Data downloads\T100_Extractedcsvs
Found 3 .wip file(s) to extract.

Processing: T_T100_SEGMENT_ALL_CARRIER_20251022_145557_2025.zip
‚úÖ 1 CSV file(s) moved to destination folder.

Processing: T_T100_SEGMENT_ALL_CARRIER_20251022_145823_2024.zip
‚úÖ 1 CSV file(s) moved to destination folder.

Processing: T_T100_SEGMENT_ALL_CARRIER_20251022_150014_2023.zip
‚úÖ 1 CSV file(s) moved to destination folder.

All files processed.

# Merge all csv files

In [ ]:
"""

folder_path = r"C:\Users\stgadmin\Project\air-travel-dwh\Data\T100"

csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# Combine all CSVs into one DataFrame
T100_combined_df = pd.concat((pd.read_csv(file) for file in csv_files), ignore_index=True)

print("Combined DataFrame shape:", T100_combined_df.shape)
print(T100_combined_df.head())


"""

Combined DataFrame shape: (1409284, 50)
   DEPARTURES_SCHEDULED  DEPARTURES_PERFORMED  PAYLOAD  SEATS  PASSENGERS  \
0                   0.0                   0.0      0.0    0.0         0.0
1                   0.0                   0.0      0.0    0.0         0.0
2                   0.0                   0.0      0.0    0.0         0.0
3                   0.0                   0.0      0.0    0.0         0.0
4                   0.0                   0.0      0.0    0.0         0.0

   FREIGHT  MAIL  DISTANCE  RAMP_TO_RAMP  AIR_TIME  ... DEST_WAC  \
0      0.0   0.0       0.0           0.0       0.0  ...       23
1      0.0   0.0      16.0           0.0       0.0  ...       13
2      0.0   0.0      17.0           0.0       0.0  ...       91
3      0.0   0.0      17.0           0.0       0.0  ...       15
4      0.0   0.0      17.0           0.0       0.0  ...       15

   AIRCRAFT_GROUP AIRCRAFT_TYPE AIRCRAFT_CONFIG  YEAR QUARTER MONTH  \
0               6           626               2  2023       3     8
1               6           622               1  2023       4    10
2               6           622               1  2023       4    10
3               0            79               1  2023       1     1
4               0            79               1  2023       2     5

   DISTANCE_GROUP  CLASS  DATA_SOURCE
0               1      G           DU
1               1      L           DU
2               1      L           DU
3               1      F           DU
4               1      F           DU

[5 rows x 50 columns]

In [14]:
display(T100_combined_df)

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23,6,626,2,2023,3,8,1,G,DU
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,...,13,6,622,1,2023,4,10,1,L,DU
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,...,91,6,622,1,2023,4,10,1,L,DU
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,...,15,0,79,1,2023,1,1,1,F,DU
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,...,15,0,79,1,2023,2,5,1,F,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409279,814.0,801.0,2300600.0,7326.0,4959.0,12414.0,0.0,59.0,28369.0,20926.0,...,1,4,416,1,2025,2,5,1,F,DU
1409280,953.0,946.0,2742800.0,8577.0,5247.0,4479.0,0.0,59.0,33789.0,26332.0,...,1,4,416,1,2025,2,6,1,F,DU
1409281,954.0,949.0,2682600.0,8568.0,5477.0,14152.0,0.0,59.0,33487.0,24774.0,...,1,4,416,1,2025,2,6,1,F,DU
1409282,1036.0,1036.0,2916800.0,9297.0,7515.0,13862.0,0.0,59.0,36589.0,26628.0,...,1,4,416,1,2025,3,7,1,F,DU
1409283,1036.0,1036.0,3002200.0,9324.0,6771.0,6348.0,0.0,59.0,36413.0,27796.0,...,1,4,416,1,2025,3,7,1,F,DU

In [32]:
import os
import glob
import pandas as pd
import urllib
from sqlalchemy import create_engine, text

In [ ]:
#Loading a merged df directly to SQL Server 

""""
# Database connection parameters
params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=ICT-210-11;"                     # your server name
    "DATABASE=AirtravelBronze;"              # your database name
    "Trusted_Connection=yes;"                
    "Encrypt=yes;"
    "TrustServerCertificate=yes;"
) 
connection_url = f"mssql+pyodbc:///?odbc_connect={params}"
engine_destination = create_engine(connection_url, fast_executemany=True)

def load_sql():
    with engine_destination.begin() as conn_dest:  # ensures COMMIT
        T100_combined_df.to_sql(
            'T_100_MonthlyData',
            conn_dest,
            if_exists='replace',
            index=False,
            chunksize=100000 
        )
    print("‚úÖ Data successfully written to SQL Server!")
    return T100_combined_df

# Run it
load_sql()

""""

‚úÖ Data successfully written to SQL Server!

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,PAYLOAD,SEATS,PASSENGERS,FREIGHT,MAIL,DISTANCE,RAMP_TO_RAMP,AIR_TIME,...,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,DATA_SOURCE
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,23,6,626,2,2023,3,8,1,G,DU
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,0.0,...,13,6,622,1,2023,4,10,1,L,DU
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,...,91,6,622,1,2023,4,10,1,L,DU
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,...,15,0,79,1,2023,1,1,1,F,DU
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,...,15,0,79,1,2023,2,5,1,F,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409279,814.0,801.0,2300600.0,7326.0,4959.0,12414.0,0.0,59.0,28369.0,20926.0,...,1,4,416,1,2025,2,5,1,F,DU
1409280,953.0,946.0,2742800.0,8577.0,5247.0,4479.0,0.0,59.0,33789.0,26332.0,...,1,4,416,1,2025,2,6,1,F,DU
1409281,954.0,949.0,2682600.0,8568.0,5477.0,14152.0,0.0,59.0,33487.0,24774.0,...,1,4,416,1,2025,2,6,1,F,DU
1409282,1036.0,1036.0,2916800.0,9297.0,7515.0,13862.0,0.0,59.0,36589.0,26628.0,...,1,4,416,1,2025,3,7,1,F,DU
1409283,1036.0,1036.0,3002200.0,9324.0,6771.0,6348.0,0.0,59.0,36413.0,27796.0,...,1,4,416,1,2025,3,7,1,F,DU

In [33]:
# --- 1. Define folder containing CSVs ---
folder_path = r"C:\Users\stgadmin\Project\air-travel-dwh\Data\T100"
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

if not csv_files:
    print("No CSV files found.")
else:
    print(f"Found {len(csv_files)} CSV file(s) in the folder.")

# --- 2. Database connection parameters ---
params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=ICT-210-11;"
    "DATABASE=AirtravelBronze;"
    "Trusted_Connection=yes;"
    "Encrypt=yes;"
    "TrustServerCertificate=yes;"
)
connection_url = f"mssql+pyodbc:///?odbc_connect={params}"
engine_destination = create_engine(connection_url, fast_executemany=True)

# --- 3. Ensure log table exists ---
with engine_destination.begin() as conn:
    conn.execute(text("""
        IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'T100_Load_Log')
        BEGIN
            CREATE TABLE dbo.T100_Load_Log (
                FileName NVARCHAR(255) PRIMARY KEY,
                LoadDate DATETIME DEFAULT GETDATE()
            );
        END
    """))

# --- 4. Function to load a single CSV if not already loaded ---
def load_csv_to_sql(csv_file, table_name='T_100_MonthlyData', chunksize=50000):
    csv_name = os.path.basename(csv_file)
    with engine_destination.begin() as conn:
        # Check if file has been loaded
        result = conn.execute(
            text("SELECT COUNT(*) FROM dbo.T100_Load_Log WHERE FileName = :fname"),
            {"fname": csv_name}
        ).scalar()

        if result > 0:
            print(f"‚ö†Ô∏è File already loaded, skipping: {csv_name}")
            return

        # Load CSV in chunks
        print(f"\nüìÑ Loading new file: {csv_name}")
        for chunk in pd.read_csv(csv_file, chunksize=chunksize):
            chunk.to_sql(
                name=table_name,
                con=conn,
                if_exists='append',
                index=False
            )

        # Log the loaded file
        conn.execute(
            text("INSERT INTO dbo.T100_Load_Log (FileName) VALUES (:fname)"),
            {"fname": csv_name}
        )
        print(f"‚úÖ File successfully inserted and logged: {csv_name}")

# --- 5. Process all CSVs ---
for csv_file in csv_files:
    load_csv_to_sql(csv_file)

print("\n All new CSV files have been processed and uploaded to SQL Server.")

Found 3 CSV file(s) in the folder.

üìÑ Loading new file: T_T100_SEGMENT_ALL_CARRIER_2023.csv

C:\Users\stgadmin\AppData\Local\Temp\ipykernel_19760\1695617586.py:50: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_file, chunksize=chunksize):

‚úÖ File successfully inserted and logged: T_T100_SEGMENT_ALL_CARRIER_2023.csv

üìÑ Loading new file: T_T100_SEGMENT_ALL_CARRIER_2024.csv
‚úÖ File successfully inserted and logged: T_T100_SEGMENT_ALL_CARRIER_2024.csv

üìÑ Loading new file: T_T100_SEGMENT_ALL_CARRIER_2025.csv

C:\Users\stgadmin\AppData\Local\Temp\ipykernel_19760\1695617586.py:50: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(csv_file, chunksize=chunksize):

‚úÖ File successfully inserted and logged: T_T100_SEGMENT_ALL_CARRIER_2025.csv

 All new CSV files have been processed and uploaded to SQL Server.